.base{
    background-color: #f0eff2;
}

.logobg{
    background-color: #f0b04f;
}

.logobg:hover{
    background-color: #ce9f59;
}

.porange{
    background-color: #ffc09f;
}
.pgreen{
    background-color: #b8e0d2;
}

.plightgreen{
    background-color: #d6eadf;
}

.pblue{
    background-color: #bcd4e6;
}

.darkgrey{
    background-color: #808080;
}


/* TEMP */
.herobg{
    background: #f2dfe5;
    background: radial-gradient(at left top, #ffe3ec, #b6e5ff);
}

.card {
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any internal padding if it exists */
  }

.shadowUp{
    filter: drop-shadow(0 -25px 15px rgba(0, 0, 0, 0.3));
}
/* TEMP */

