/* index.css or your CSS file */
.footer-link {
    text-decoration: none;
    color: black;  /* Default color */
  }
  
  .purple{
    background-color: #e9e7f5
  }
  
  .purple-font{
   color: #934e8d
  }

  .white{
    background-color: rgb(255, 255, 255)
  }
  .footer-link:hover {
    color: rgb(255, 27, 255);  /* Color on hover */
  }
  
  .hero-heading {
    font-size: 100px;
    font-family:Roboto
  }
  .heropara{
      font-size: 20px
    }
    .legacyheading{
      font-size:50px;
    }
  /* Mobile screens */
  @media (max-width: 767px) {
    .hero-heading {
      font-size: 30px; /* Smaller font size on mobile */
    }
    .heropara{
      font-size: 10px
    }
    .legacyheading{
      font-size:xx-large;
    }
  }