/* index.css or your CSS file */
.footer-link {
    text-decoration: none;
    color: black;  /* Default color */
  }
  
  .grey{
    color: rgb(86, 86, 86);
  }
  
  .grey-bg{
 background-color: #f4f4f4;
  }

  .purple{
    background-color: #fff3e5
  }

  .purple-dark{
    background-color: #fb8701
  }
  .purple-button{
    background-color: #fdb96e;
  }
  .purple-font{
   color: #fb8701
  }

  .white-bg{
    background-color: rgb(255, 255, 255)
  }
  .footer-link:hover {
    color: rgb(255, 27, 255);  /* Color on hover */
  }
  
  .hero-heading {
    font-size: 100px;
    font-family:Roboto
  }
  .heropara{
      font-size: 20px
    }
    .legacyheading{
      font-size:50px;
    }

/* About us Page */
.icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  font-size: 24px;
}







  /* Mobile screens */
  @media (max-width: 767px) {
    .hero-heading {
      font-size: 30px; /* Smaller font size on mobile */
    }
    .heropara{
      font-size: 10px
    }
    .legacyheading{
      font-size:xx-large;
    }
  }

 

